@font-face {
    font-family: 'iran_sans_bold';
    src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_light';
    src: url('../Fonts/iran_sans_light.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_medi';
    src: url('/Fonts/iran_sans_medi.woff') format('woff');
}
*{
    font-family:iran_sans_light;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(image/bg8.jpg);
    background-position: center;
    background-size: cover;
    padding-right: 5%;
    padding-left: 3%;
    position: relative;
    box-sizing: border-box;
    
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    
}
.logo{
    width: 280px;
    margin-top: 10px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 450px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
.cart{
    font-size: 50px;
    color: #fff;
    margin-right: 20px;
}
.cart:hover{
    transform: scale(1.1);
    color: rgb(111, 167, 29);
    transition: all .5s;
}
.content{
    position: relative;
    width: 600px ;
}
h1{
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 100px;
    letter-spacing: .1em;
    font-size: 70px;
    color: #1b1b1b;
}
h1 .style{
    color: #f01109;
    font-size: 90px;
    font-weight: 800;

}
p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 35px;
    color: #f1dfdf;
}
.text{
    position: relative;
    display: flex;
    align-items: center;
}
.btn{
    background-color: #f3260b;
    margin-top: 80px;
    padding: 15px 45px;
    text-align: center;
    border: none;
    outline: none;
    transition: .5s;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    display: block;
    border-radius: 20px;
    background-size: 200% auto;
    box-shadow: 3px 8px 22px rgba(22,21,21,.15);
}
.btn:hover{
    transform: scale(1.1);
    transition: all .5s;
}
.social-media{
     margin-top: 170px;
        margin-left: 75px;
        font-size: 50px;
        text-decoration: none;
}
.icons{
    color: #df0ddf;
    padding: 12px 12px 10px 12px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    text-align: center;
    box-shadow: 3px 8px 22px rgba(22,21,21,.15);
     }
 .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #40c3e4;
    color: white;
  }
  .fa-instagram {
    background: #da40d2;
    color: white;
  }
.icons:hover{
    transform: scale(2.1);
    color: #fff;
    background: #264e33;
    transition: all .5s;
}
.image{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 500px;
    height: 550px;
}
